{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb",
        "plugin:@typescript-eslint/recommended",
        "prettier/prettier",
        "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": ["react", "@typescript-eslint", "react-hooks"],
    "rules": {
        "jsx-a11y/media-has-caption": "off",
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "react/jsx-filename-extension": [
            "warn",
            {
                "extensions": [".tsx"]
            }
        ],
        "react/no-array-index-key": "off",
        "eslint-disable @typescript-eslint/no-shadow": "off",
        "import/no-extraneous-dependencies": "off",
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "ts": "never",
                "tsx": "never"
            }
        ],
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error"],
        "@typescript-eslint/explicit-function-return-type": [
            "error",
            {
                "allowExpressions": true
            }
        ],
        "max-len": [
            "warn",
            {
                "code": 300
            }
        ],
        "react/function-component-definition": [
            "error",
            {
                "namedComponents": "arrow-function",
                "unnamedComponents": "arrow-function"
            }
        ],
        "jsx-a11y/label-has-associated-control": [
            "error",
            {
                "required": {
                    "some": ["nesting", "id"]
                }
            }
        ],
        "jsx-a11y/label-has-for": [
            "error",
            {
                "required": {
                    "some": ["nesting", "id"]
                }
            }
        ],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "off",
        "import/prefer-default-export": "off",
        "react/prop-types": "off",
        "react/jsx-props-no-spreading": "off",
        "no-nested-ternary": "off",
        "react/jsx-no-useless-fragment": "off",
        "jsx-a11y/no-redundant-roles": "off",
        "react/react-in-jsx-scope": "off"
    },
    "settings": {
        "import/resolver": {
            "typescript": {}
        }
    }
}
